<html>
	<head>
		<script type="text/javascript" src="../public/javascripts/jquery.js"></script>
	    <script type="text/javascript" src="../public/javascripts/jquery.cookie.js"></script>
	    <script type="text/javascript" src="../public/javascripts/handlebars.js"></script>
    	<script src="comment.js"></script>
	</head>
	<body>
	</body>

	<script id="comment-template" type="text/x-handlebars-template">
		<li>
			<span class="meta">{{name}} on {{date}}</span>
			<p>{{comment}}</p>
		</li>
	</script>
</html>