<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="/javascripts/handlebars.runtime.js"></script>
	    <script src="javascripts/templates.js"></script>

	    <script src="javascripts/exerciseDetails.js"></script>
	    <script src="javascripts/workoutDetails.js"></script>
	    <script src="javascripts/addExercise.js"></script>
	</head>
	<body>
		<h3 id="workoutDetails"></h3>
		<li id="exerciseDetails"></li>
		<p id="addExercise"><p>
	</body>
</html>