<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="/javascripts/handlebars-v2.0.0.js"></script>
	    <script src="/javascripts/templates.js"></script>
	    <script src="/javascripts/helpers.js"></script>
	    <script src="/javascripts/userPage.js"></script>
	</head>
	<body>
		<div id="main-container"></div>
		<img src="/images/Arnold.jpeg">
	</body>
</html>