body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#editExercisePopup.hidden{
	display: none;
}
#editWorkoutPopup.hidden{
	display: none;
}
#addExercisePopup.hidden{
	display: none;
}