body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#logoutdiv{
	float:right;
	clear:both;

}
 
#workout{
	
	width:400px;
	box-shadow:5px 5px 5px;
	margin: 15px;
	padding:10px;
}
.editExercisePopup .hidden{
	display: none;
}
.editWorkoutPopup .hidden{
	display: none;
}
.addExercisePopup .hidden{
	display: none;
}

#register{
	float:left;
	border: 1px solid;
	margin:15px;
	padding:10px;
	box-shadow:5px 5px 5px;
/*	position:absolute;
	z-index:3;
*/}
#signin{
	float:right;
	border: 1px solid;
	margin: 15px;
	padding: 10px;
	box-shadow:5px 5px 5px;
/*	z-index:2;
	position:relative;
*/}
#arnold{
	margin:10px;
/*	z-index:1;
	position:absolute;
*/}