<div id="addExercise-template">
	<script>
	  	$('#addWorkoutButton').click(function(){
			$('#addWorkoutPopup').removeClass("hidden");
		});
	</script>
	<button id="addWorkoutButton" type="button">Add Workout</button>
	<div id="addWorkoutPopup" class="hidden">
		<form id="addExerciseForm">
			Date: <input type="date" name="date"><br>
			<input type="submit" />
		</form>
	</div>
</div>