<div id="exerciseDetails-template">
	<span class="meta">{{name}}: ({{setCount}}x{{repCount}}) using {{weight}} pounds</span>
	<button type="button" onclick="$("#divdeps").dialog('open')">Edit</button>
	<button type="button" onclick="alert('Delete Exercise!')">Delete</button>
</div>