<div id="register">
		<h1>Register</h1>
		</div>
		<form id="register-form">
			<div>Username: <input type="text" name="username" required /></div>
			<div>Weight: <input type="number" name="weight" required /></div>
			<div>Age: <input type="Number" name="age" required /></div>
			<div>Password: <input type="password" name="password" required /></div>
			<div>Confirm Password: <input type="password" name="confirm" required /></div>
			<input type="submit"/>
		</form>
	</div>


	<div id="signin">
		<h1>Sign in</h1>
		<form id="signin-form" action="/login" method="post">
			<div>Username: <input type="text" name="username" required /></div>
			<div>Password: <input type="password" name="password" required /></div>
			<input type="submit" />
		</form>
	</div>