<div id="workoutDetails-template">
	<span class="meta">Workout {{date}}</span>
	<button type="button" onclick="alert('Edit Workout!')">Edit</button>
	<button type="button" onclick="alert('Delete Workout!')">Delete</button>
</div>